@font-face {
  font-family: Vazir-Medium-FD;
  src: url('../public/fonts/Vazir-Medium-FD.ttf');
}
:root {
  --light-grey: #a8afbb;
  --gold: #d4ca96;
  --light-gold: #f3eed1;
  --lightest-gold: #eeece4;
  --active-text: #ff9a3c;
  --header-height: 40px;
  --page-height: 100vh - 4rem;
  --shadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.w-100 {
  width: 100%;
}
.text-align-center {
  text-align: center;
}
.margin-zero {
  margin: 0 !important;
}
.btn {
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: var(--shadow);
  background-color: white;
  padding: 5px;
  margin: 5px 0px;
  transition: transform .1s ease-in-out;
  color: black;
}
.btn:hover{
  transform: scale(1.05);
}
.btn:active{
  transform: scale(.95);
  outline: none !important;
  box-shadow: var(--shadow) !important;
}
.btn:focus{
  outline: none !important;
  box-shadow: var(--shadow) !important;
}

.topLeftAbsoluteButton{
  position: absolute;
  top: 0;
  left: 0;
}
.topLeftAbsoluteButton button{
  margin: 0;
}
li {
  list-style: none;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.defaultContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: var(--shadow)
}

.row {
  --bs-gutter-x: 0 !important;
}

/* Page */
body {
  margin: 0;
  background-color: #e0eef0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Vazir-Medium-FD' !important;
  user-select: none;
}
*:hover,*:focus{
  outline: 0 !important;
}
.form-control:focus{
  border: 2px solid rgba(140, 145, 96, 0.5);
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}
.pageContainer{
  min-height: 100vh;
}
.mainColumn{
  max-width: 1400px;
  margin: auto;
  padding: 2rem 1rem;
}


/* header */
header {
  position: sticky;
  top: 0px;
  background-color: var(--gold);
  padding: .7rem;
  z-index: 100;
}
.headerContainer{
  max-width: 1400px;
  margin: auto;
  padding: 0 2vw;
}

.headerMiddle{
  margin: auto;
}
.headerMiddle h3 {
  margin: 0;
}

/* -- header */
/* menu */
.menuBottonContainer{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.menuButton{
 background-color: white;
 position: relative;
 width: 50px;
 height: 50px;
 border: none !important;
 border-radius: 50%;
 box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.menuButton svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menuButton:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.menuIcon{
  width: 100%;
  height: 100%;
  
}

/* -- menu */


/* logo */

.logo{
  width: 60px;
  height: 60px;
}

/* -- logo */
/* hero Section */



/* -- hero Section */

/* carousel */

.carouselContainer{
  border-radius: 20px;
  height: 500px;
  overflow: hidden; 
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.carouselImage{
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.carousel-control-prev-icon{
  background-image : url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 ><path d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/></svg>') !important;
}
.carousel-control-next-icon {
  background-image : url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 ><path d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}
/* -- carousel */

/* advance Search */

.advanceSearchContainer {
  text-align: center;
  padding: 0rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.welcomeText{
  height: 30%;
display: flex;
align-items: center;
justify-content: center;
}

.advanceSearchFrom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


/* -- advance Search */


/* category section */
.categoriesContainer{
  margin-top: 4rem;

}
.categoryItem{
  display: flex;
  flex-direction: column;
  
}
.categoryImageContainer{
  width: 70px;
  margin-bottom: 15px;
}

.categoryTextContainer{
  background-color: var(--light-gold);
  border-radius: 20px;
  padding: 1rem;
}

.categoryText{
line-height: normal;
font-size: 2.2rem;
align-items: center;
text-align: center;
}
/* -- category section */


/* appointments section */

.appointmentLeftContainer{
  padding-right: 10px;
}
.appointmentRightContainer{
  padding-left: 10px;
}
  

/* -- appointments section */

/* single appointment Row*/


.appointmentCard{
  background-color:var(--lightest-gold);
  margin: 1rem 0rem;
  padding: 15px;
  border-radius: 10px;
}
.appointmentButtonContainer{
  text-align: center;
}
.appointmentTextContainer{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

/* -- single appointment Row*/